{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <header class="intro-header" style="background-image: url('{% static "img/home-bg.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>ARS-Blog</h1>
                        <hr class="small">
                        <span class="subheading">OpenSource Django Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            	{% for post in posts.object_list %}
                <div class="post-preview">
                    <a href="/yazi/{{ post.slug }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.description | slice:":100"}} ...
                        </h3>
                    </a>
                    <p class="post-meta">{{ post.publish_date | date:"D d M Y" }}</p>
                </div>
                <hr>
                {% endfor %}
                
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                         {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">Önceki</a>
        {% endif %}
                 

 <li class="next">
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Sonraki</a>
        {% endif %}
           </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    {% endblock %}